@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
}

footer {
  background-color: #464444;
  color: white;
  padding: 10vw 5vw;
  text-align: left;
}
footer img {
  height: 1.5rem;
  filter: invert(100%);
}
footer .f-icntext {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
footer .f-icntext h3 {
  font-size: 1rem;
  margin: 2px 0;
  padding: 0 0 0 2vw;
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-left: 30vw;
    gap: 1rem;
  }
  footer img {
    height: 1.2rem;
    position: absolute;
    right: 3rem;
  }
  footer p, footer h3.titre {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  footer .f-icntext {
    gap: 0.3rem;
  }
}

header {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
header .logo {
  margin: 1rem 0;
}
header .logo img {
  width: 10rem;
  height: auto;
}
header .localite-container {
  box-sizing: content-box;
  width: calc(100% - 1rem);
  padding: 0.8rem;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0.1em 0.5em 0.1em #e0e0e0;
}
header .localite-container .form {
  width: fit-content;
  padding-left: 2rem;
  margin: 0 auto;
}
header .localite-container .input {
  width: 60%;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  text-align: center;
  padding: 0.25em 0em;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  margin-left: 1vw;
}

main .pub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px 0 40px 0;
  border: none;
}
main .pub h1 {
  font-size: calc(1.2vw + 1.2vh + 0.4vmin); /* rajout */
  letter-spacing: 0.1vw;
  color: #030303;
  padding: 0.5rem 4rem;
}
@media (max-width: 1000px) {
  main .pub h1 {
    font-size: 1.4rem;
  }
}
main .pub h2 {
  font-size: 1.1rem;
  color: #838181;
  font-weight: lighter;
  padding: 0.5rem 1rem;
}
main .pub .exploration {
  width: fit-content;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 16px 16px;
  font-weight: bolder;
  margin: 20px 0 10px 0;
  color: white;
  background-image: linear-gradient(180deg, #ff79da, rgba(119, 27, 180, 0.9529411765));
  box-shadow: 0px 3px 0.4em rgba(94, 4, 82, 0.9529411765);
  text-decoration: none;
}
main .pub .exploration:hover {
  opacity: 0.8;
}
main .fonctionnement {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
}
main .fonctionnement h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 4vw;
  }
}
main .fonctionnement .les-etapes .etape {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: baseline;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .etape {
    width: 30%;
  }
}
main .fonctionnement .les-etapes p.num {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(126, 46, 163, 0.8078431373);
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  padding: 2px 0 0 8px;
  z-index: 1;
}
@media (min-width: 700px) and (max-width: 999px) {
  main .fonctionnement .les-etapes p.num {
    position: relative;
    left: calc((100vw - 588px) / 2);
  }
}
main .fonctionnement .les-etapes .icntext {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: rgba(240, 240, 240, 0.692);
  border-radius: 20px;
  box-shadow: 0 -0.3em 1em 0.2em rgba(231, 231, 231, 0.6156862745), 0 0.3em 0.5em 0.1em rgba(215, 217, 219, 0.6156862745);
  padding: 5px 10vw;
  width: 90vw;
}
@media (min-width: 700px) {
  main .fonctionnement .les-etapes .icntext {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .icntext {
    width: 28vw;
    padding: 10px 2vw;
    gap: 20px;
  }
}
main .fonctionnement .les-etapes .icntext h3 {
  font-size: 1rem;
  margin: 20px 0;
  padding: 0 0 0 5vw;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .icntext h3 {
    margin: 0;
    padding: 0;
  }
}
main .fonctionnement .les-etapes .fa-mobile-screen-button,
main .fonctionnement .les-etapes .fa-list,
main .fonctionnement .les-etapes .fa-store {
  font-size: 1rem;
  color: #838181;
}
main .sec-restaurants {
  padding: 40px 0 5vw 5vw;
  background-color: rgba(245, 247, 250, 0.768627451);
}
main .sec-restaurants h2 {
  margin: 0;
  padding-bottom: 10px;
}
main .sec-restaurants .restaurant {
  align-items: left;
}
@media (max-width: 1000px) {
  main .sec-restaurants .restaurant {
    width: calc(100% - 5vw);
  }
}
@media (min-width: 1001px) {
  main .sec-restaurants .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
  }
}
main .sec-restaurants .restaurant a {
  display: block;
  text-decoration: none;
  color: inherit;
}
main .sec-restaurants .restaurant a:hover img {
  opacity: 0.8;
}
main .sec-restaurants .restaurant a img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin-left: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1001px) {
  main .sec-restaurants .restaurant a img {
    height: 20vw;
  }
}
main .sec-restaurants .restaurant h3 {
  margin: 0;
}
main .sec-restaurants .restaurant .restaurant-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 1rem;
  padding: 0px 0 10px 0;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(212, 211, 211, 0.1);
  border: none;
  width: 100%;
  height: auto;
  text-align: left;
}
@media (min-width: 1001px) {
  main .sec-restaurants .restaurant .restaurant-item {
    width: 42vw;
  }
}
main .sec-restaurants .restaurant .restaurant-item .card-txt {
  padding-left: 3vw;
}/*# sourceMappingURL=main.css.map */