@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: #000;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0) translate3d(0, 0%, 0);
  }
  100% {
    opacity: 1;
  }
}
.slide-in {
  animation: slideIn 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 1s 0.1s ease-out;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0.5rem 0 0 0;
  padding: 2.5vw 0 2.5vw 2.5vw;
  border: none;
}
header .logo {
  margin: 1rem 0;
}
header .logo img {
  position: absolute;
  top: calc(8px + 2.5vw);
  width: 10rem;
  left: calc((100vw - 10rem) / 2);
  height: auto;
}
@media (min-width: 1000px) {
  header .logo img {
    width: 15rem;
    left: calc((100vw - 15rem) / 2);
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
  opacity: 1;
}

.nom-et-coeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  /*
  .heart-icon {
    width: 0.8em; 
    height: 0.8em;
  }
  */
}

.heartbox {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.heart-icon2 {
  color: #ffffff; /* Initial color */
  cursor: pointer;
  font-size: 1.6em; /* Adjust the size as needed */
  position: relative;
  top: -8px;
  left: -5vw;
  padding: 0 2px;
  -webkit-text-stroke: 1px black; /* Outline color */
}
@media (min-width: 1000px) {
  .heart-icon2 {
    left: -2.5vw;
  }
}

.heartbox:hover .heart-icon1 {
  color: white;
}

.heartbox:hover .heart-icon2 {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heartbox:hover .heart-icon {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  color: #000;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0) translate3d(0, 0%, 0);
  }
  100% {
    opacity: 1;
  }
}
.slide-in {
  animation: slideIn 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 1s 0.1s ease-out;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0.5rem 0 0 0;
  padding: 2.5vw 0 2.5vw 2.5vw;
  border: none;
}
header .logo {
  margin: 1rem 0;
}
header .logo img {
  position: absolute;
  top: calc(8px + 2.5vw);
  width: 10rem;
  left: calc((100vw - 10rem) / 2);
  height: auto;
}
@media (min-width: 1000px) {
  header .logo img {
    width: 15rem;
    left: calc((100vw - 15rem) / 2);
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
  opacity: 1;
}

.nom-et-coeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  /*
  .heart-icon {
    width: 0.8em; 
    height: 0.8em;
  }
  */
}

.heartbox {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.heart-icon2 {
  color: #ffffff; /* Initial color */
  cursor: pointer;
  font-size: 1.6em; /* Adjust the size as needed */
  position: relative;
  top: -8px;
  left: -5vw;
  padding: 0 2px;
  -webkit-text-stroke: 1px black; /* Outline color */
}
@media (min-width: 1000px) {
  .heart-icon2 {
    left: -2.5vw;
  }
}

.heartbox:hover .heart-icon1 {
  color: white;
}

.heartbox:hover .heart-icon2 {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heartbox:hover .heart-icon {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #464444;
  color: white;
  padding: 10vw 5vw;
  text-align: left;
}
footer img {
  height: 1.5rem;
  filter: invert(100%);
}
footer .f-icntext {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
footer .f-icntext h3 {
  font-size: 1rem;
  margin: 2px 0;
  padding: 0 0 0 2vw;
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-left: 30vw;
    gap: 1rem;
  }
  footer img {
    height: 1.2rem;
    position: absolute;
    right: 3rem;
  }
  footer p, footer h3.titre {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  footer .f-icntext {
    gap: 0.3rem;
  }
}

@keyframes moveBox {
  from {
    opacity: 0;
    transform: translate3d(0, -2.5em, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 2s ease, opacity 2s ease;
  }
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main .localite-container {
  box-sizing: content-box;
  padding: 0.8rem;
  background-color: rgba(210, 212, 218, 0.6156862745);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0.1em 0.5em 0.1em #e0e0e0;
}
main .localite-container .form {
  width: fit-content;
  padding-left: 5rem;
  margin: 0 auto;
}
main .localite-container .input {
  width: 50%;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  text-align: center;
  padding: 0.4em 0em;
  background-color: rgba(210, 212, 218, 0.6156862745);
  border: none;
  border-radius: 4px;
  margin-left: 1vw;
}
main .pub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px 0 40px 0;
  border: none;
}
main .pub h1 {
  font-size: calc(1.2vw + 1.2vh + 0.4vmin); /* rajout */
  letter-spacing: 0.1vw;
  color: #030303;
  padding: 0.5rem 4rem;
}
@media (max-width: 1000px) {
  main .pub h1 {
    font-size: 1.4rem;
  }
}
main .pub h2 {
  font-size: 1.1rem;
  color: #838181;
  font-weight: lighter;
  padding: 0.5rem 1rem;
}
main .pub .exploration {
  width: fit-content;
  border-radius: 50px;
  font-size: 1.1rem;
  padding: 16px 16px;
  font-weight: bolder;
  margin: 20px 0 10px 0;
  color: white;
  background-image: linear-gradient(180deg, #ff79da, rgba(119, 27, 180, 0.9529411765));
  box-shadow: 0px 3px 0.4em rgba(94, 4, 82, 0.9529411765);
  text-decoration: none;
}
main .pub .exploration:hover {
  opacity: 0.8;
}
main .fonctionnement {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  margin-left: 4vw;
}
main .fonctionnement h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
main .fonctionnement .les-etapes .etape {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  align-items: baseline;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .etape {
    width: 30%;
  }
}
main .fonctionnement .les-etapes p.num {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(126, 46, 163, 0.8078431373);
  border-radius: 20px;
  color: white;
  font-size: 0.8rem;
  padding: 2px 0 0 8px;
  position: relative;
  left: 1%;
  z-index: 1;
}
@media (min-width: 700px) and (max-width: 999px) {
  main .fonctionnement .les-etapes p.num {
    left: calc((100vw - (580px + 4rem)) / 2);
  }
}
main .fonctionnement .les-etapes .icntext {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: rgba(240, 240, 240, 0.6901960784);
  border-radius: 20px;
  text-shadow: 0 10px 3px 10px rgba(247, 181, 181, 0.6156862745);
  box-shadow: 0 0.3em 0.5em 0.1em rgba(215, 217, 219, 0.6156862745);
  padding: 5px 2vw 5px 16px;
  width: 85vw;
}
@media (min-width: 700px) {
  main .fonctionnement .les-etapes .icntext {
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .icntext {
    width: 28vw;
    padding: 5px 2vw;
    gap: 10px;
  }
}
main .fonctionnement .les-etapes .icntext h3 {
  font-size: 1rem;
  margin: 20px 0;
  padding: 0 0 0 7.5vw;
}
@media (min-width: 1000px) {
  main .fonctionnement .les-etapes .icntext h3 {
    padding: 0;
  }
}
main .fonctionnement .les-etapes .fa-mobile-screen-button,
main .fonctionnement .les-etapes .fa-list,
main .fonctionnement .les-etapes .fa-store {
  font-size: 1.4rem;
  color: #838181;
}
main .sec-restaurants {
  display: flex;
  flex-direction: column;
  padding: 40px 0 5vw 5vw;
  background-color: rgba(245, 247, 250, 0.768627451);
}
@media (max-width: 1000px) {
  main .sec-restaurants {
    width: 100%;
  }
}
@media (min-width: 1001px) {
  main .sec-restaurants {
    width: 100%;
    margin: 0 auto;
  }
}
main .sec-restaurants h2 {
  margin: 0;
  padding-bottom: 10px;
}
main .sec-restaurants h2.titre {
  width: 90vw;
}
main .sec-restaurants .groupe-restaurants {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1001px) {
  main .sec-restaurants .groupe-restaurants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: auto;
    column-gap: 50px;
    row-gap: 25px;
  }
}
main .sec-restaurants .groupe-restaurants img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin-left: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1001px) {
  main .sec-restaurants .groupe-restaurants img {
    width: 100%;
  }
}
main .sec-restaurants .groupe-restaurants .restaurant {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: calc(100% - 5vw);
  height: auto;
}
@media (min-width: 1001px) {
  main .sec-restaurants .groupe-restaurants .restaurant {
    gap: 5px;
  }
}
main .sec-restaurants .groupe-restaurants .restaurant .restaurant-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 24px 24px 0 0;
  box-shadow: 0 2px 4px rgba(212, 211, 211, 0.1);
  border: none;
  width: 100%;
  height: auto;
  text-align: left;
}
@media (min-width: 1001px) {
  main .sec-restaurants .groupe-restaurants .restaurant .restaurant-item {
    max-width: 1000px;
  }
}
main .sec-restaurants .groupe-restaurants a {
  display: block;
  text-decoration: none;
  color: inherit;
}
main .sec-restaurants .groupe-restaurants a:hover img {
  opacity: 0.8;
}
main .sec-restaurants .groupe-restaurants h3 {
  margin: 0;
}
main .sec-restaurants .r-card-txt {
  background-color: #ffffff;
  padding: 10px 0 5px 0;
  padding-left: 3vw;
  margin-bottom: 0;
  border-radius: 0 0 24px 24px;
}
main .sec-restaurants .r-card-txt .heart-icon {
  width: 1.5em;
  height: 1.5em;
}
@media (min-width: 1000px) {
  main .sec-restaurants .r-card-txt {
    padding-left: 1.5vw;
  }
}/*# sourceMappingURL=main.css.map */