@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: white;
}

footer {
  background-color: #464444;
  color: white;
  padding: 10vw 5vw;
  text-align: left;
}
footer img {
  height: 1.5rem;
  filter: invert(100%);
}
footer .f-icntext {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
footer .f-icntext h3 {
  font-size: 1rem;
  margin: 2px 0;
  padding: 0 0 0 2vw;
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-left: 30vw;
    gap: 1rem;
  }
  footer img {
    height: 1.2rem;
    position: absolute;
    right: 3rem;
  }
  footer p, footer h3.titre {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  }
  footer .f-icntext {
    gap: 0.3rem;
  }
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0 0 0;
  padding: 2.5vw 0 2.5vw 2.5vw;
  border: none;
}
header .logo {
  margin: 0 auto;
}
header .logo img {
  width: 10rem;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
}
main img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
  padding: 0;
  height: 20rem;
}
@media (min-width: 600px) {
  main img {
    height: 30rem;
  }
}
@media (min-width: 1024px) {
  main img {
    height: 35rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}
main .order-button {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}
@media (min-width: 1024px) {
  main .order-button {
    margin-left: auto;
    margin-right: auto;
  }
}
main .order-button .order-checkbox {
  display: none;
}
main .order-button .order-checkbox:active ~ .menu-txt .label {
  border-radius: 20px;
  animation: flash 1s;
}
main .order-button .order-checkbox:active ~ .menu-txt .fa-heart {
  animation: flash 1s;
}
main .order-button .orderlabel {
  display: flex;
  cursor: pointer;
  width: fit-content;
  padding: 10px 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  color: white;
  background-color: #c91ec9;
  transition: background-color 0.1s;
  background-image: linear-gradient(180deg, #ff79da, rgba(136, 51, 192, 0.7176470588));
  box-shadow: 0px 3px 0.4em rgba(94, 4, 82, 0.9529411765);
  text-decoration: none;
}
main .order-button .orderlabel:hover {
  background-color: #f302fc;
  opacity: 0.8;
}
main .order-button .orderlabel .ordername {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
}
main .order-button .menu-txt {
  padding: 0 5vw;
  background-color: #f2f2f2;
  margin-top: -50px;
  z-index: 1;
  border-radius: 40px;
}
@media (min-width: 1024px) {
  main .order-button .menu-txt {
    width: 100%;
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 184px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  main .order-button .menu-txt {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px;
  }
}
main .order-button .menu-txt h1 {
  margin-top: 20px;
  font-family: shrikhand;
  font-size: 1.5rem;
}
main .order-button .menu-txt h2 {
  font-size: 1rem;
}
main .order-button .menu-txt .enligne {
  padding: 0;
  margin: 0;
  align-items: baseline;
  display: flex;
  flex-direction: row;
}
main .order-button .menu-txt .nom-et-coeur {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  main .order-button .menu-txt .nom-et-coeur {
    justify-content: center;
    gap: 32px;
  }
}
main .order-button .menu-txt .fa-heart {
  height: 1rem;
  transition: background-color 1s;
}
main .order-button .menu-txt .choix-et-check {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: last baseline;
}
main .order-button .menu-txt .choix {
  background-color: white;
  border-radius: 20px;
  padding: 0;
  margin: 8px 0;
  width: 100%;
}
main .order-button .menu-txt .underline {
  margin-top: 16px;
  border-bottom: 4px solid #b1f59c;
  display: inline-block;
  line-height: 2;
}
main .order-button .prix {
  font-size: 1rem;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 10px;
  right: 1rem;
  transform: translate(0, 0);
  transition: transform 0.8s ease;
  opacity: 1;
}
main .order-button .icbox {
  position: absolute;
  font-size: 1rem;
  top: 0;
  right: 0rem;
  width: 5rem;
  height: 64px;
  margin: 0;
  padding: 5px 0px 10px 10px;
  background-color: rgba(123, 197, 202, 0.8980392157);
  border-radius: 0 20px 20px 0;
  transform: translate(0, 0) translateX(4.8rem);
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}
main .order-button .fa-check {
  position: relative;
  top: 20px;
  right: 0px;
  font-size: 1rem;
  margin: 0px auto;
  padding: 0.2rem 0.2rem 0rem 0em;
  background-color: white;
  color: rgba(95, 240, 204, 0.8980392157);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  transform: translate(0, 0) translateX(1rem);
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0;
}
main .order-button .checkbox-input {
  display: none;
}
@media (max-width: 700px) {
  main .order-button .checkbox-input:checked + .label .icbox {
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: translateX(0);
    opacity: 0.7;
  }
  main .order-button .checkbox-input:checked + .label .fa-check {
    transform: translate(0, 0) translateX(-0.2rem);
    opacity: 1;
  }
  main .order-button .checkbox-input:checked + .label .prix {
    transform: translate(0, 0) translateX(-5rem) translateY(0px);
    transition: transform 0.8s ease;
  }
  main .order-button .checkbox-input:checked + .label .checkbox-text--description {
    width: calc(75vw - 6rem);
  }
}
@media (min-width: 701px) {
  main .order-button .checkbox-input:hover + .label .icbox {
    transition: transform 0.8s ease, opacity 0.8s ease;
    transform: translateX(0);
    opacity: 0.7;
  }
  main .order-button .checkbox-input:hover + .label .fa-check {
    transform: translate(0, 0) translateX(-0.2rem);
    opacity: 1;
  }
  main .order-button .checkbox-input:hover + .label .prix {
    transform: translate(0, 0) translateX(-5rem) translateY(0px);
    transition: transform 0.8s ease;
  }
  main .order-button .checkbox-input:hover + .label .checkbox-text--description {
    width: calc(75vw - 6rem);
  }
}
main .order-button .label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 64px;
  cursor: pointer;
  border-radius: 2px;
}
main .order-button .checkbox-text {
  width: 75vw;
}
main .order-button .checkbox-text--title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0 0 3vw;
  font-weight: 500;
}
@media (min-width > 750px) {
  main .order-button .checkbox-text--title {
    width: 14vw;
  }
}
main .order-button .checkbox-text--description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0 0 3vw;
  font-size: 1rem;
  transition: width 0.6s;
}
@media (min-width > 1024px) {
  main .order-button .checkbox-text--description {
    width: 14vw;
  }
}

/* Flash animation */
@keyframes flash {
  0% {
    background-color: rgba(255, 235, 59, 0);
    opacity: 0;
  }
  30% {
    background-color: rgba(140, 201, 252, 0.6117647059);
    opacity: 1;
  }
}/*# sourceMappingURL=palette.css.map */