@import './global';

html {
  margin:0;
  padding:0;
}

.footer-style {
    background-color: #707070;
    color: white;
    padding: calc($horizon_spacing/2) calc(2*$horizon_spacing) calc($horizon_spacing/2) calc(2*$horizon_spacing) ;
    text-align: left;

    img {
      height: 1.5rem;
      filter: invert(100%)
    }
  
    .f-icntext {
      display: flex;
      flex-direction: row;
      align-items: baseline; 
      padding : 0;
      margin:0; 
    }

    .f-elem {
      color:white;
      text-decoration: none;
    }

    h3 {
      font-size: 1rem;
      margin: 2px 0;
      padding: 0 0 0 2vw;
    }

    @media (min-width: 1000px) {
        display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 3rem;
        padding-right: 200px;
        img {
            height: 1.2rem;
            position: absolute;
            right: 3rem;
        }
        p, h3.titre, .f-elem {
            font-size: 0.9rem;
            padding: 0;
            margin:0;
        }
        .f-icntext {            
            gap: 0.3rem;
        }
        gap : 1rem;
      }  
  }