@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {color: #202020}

// Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$accent-color: #99e2d0;
$background-color: white;
$main-bg-color: #f2f2f2;
$breakpoint-sm: 600px;
$breakpoint-lg: 1000px;
$max-width-icntxt: 580px;

//font
$font-primary: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: 40px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//padding
$horizon_spacing : 5vw;
$vertical_spacing : 10px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $breakpoint == large {
    @media (min-width: calc($breakpoint-lg + 1px)) { @content; }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0) translate3d(0, 0%, 0);
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 5s ease-in forwards;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 1s 0.1s ease-out ;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// Global styles
header {

  display: flex;
    flex-direction: row;
    justify-content:left;
    margin: 0.5rem 0 0 0;
    padding: calc($horizon_spacing/2) 0 calc($horizon_spacing/2) calc($horizon_spacing/2);
    //@include flex-center;
    border: none;

  .logo {
    margin: 1rem 0;
    img {
      position:absolute;
      top:calc(8px + $horizon_spacing/2);
      width: 10rem;
      left:calc((100vw - 10rem)/2);
      height: auto;
      @media (min-width: $breakpoint-lg) {
        width: 15rem;
        left: calc((100vw - 15rem)/2);
      }
      
    }
  }
}


body {
  font-family: $font-primary;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  opacity: 1;
}

// text et fa-feart: affichage en ligne
.nom-et-coeur {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom : 10px;

  /*
  .heart-icon {
    width: 0.8em; 
    height: 0.8em;
  }
  */
}

.heartbox {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.heart-icon2 {
  color: #ffffff; /* Initial color */
  cursor: pointer;
  font-size: 1.6em; /* Adjust the size as needed */
  position:relative;
  top:-8px;
  left: calc(-1 * $horizon_spacing);
  padding: 0 2px;
  -webkit-text-stroke: 1px black; /* Outline color */
  @media (min-width: $breakpoint-lg) {
    left: calc(-1 * $horizon_spacing/2);
  }

}

.heartbox:hover .heart-icon1 {
  color: white;
}

.heartbox:hover .heart-icon2 {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
    //// -webkit prefixed property for older web browser version 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heartbox:hover .heart-icon {
  background: linear-gradient(to bottom, #770477, #f53cd6);
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px transparent; /* Outline color */
    //// -webkit prefixed property for older web browser version 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* HTML: <div class="loader"></div> */
/*
.loader {
  width: 50%;
  height: 20px;
  background: 
    linear-gradient(90deg, #0000 ,orange) left -50px top 0/50px 20px no-repeat 
    lightblue;
  animation: l2 1s 10 linear, l2-end 0.5s ease-in forwards;
}

@keyframes l2 {
  100% {background-position: right -50px top 0}
}
@keyframes l2-end {
    100% {display: none;}
}
*/


/* HTML: <div class="loader"></div> */
.loader {
  position:relative;
  top:-40px;
  left: 47vw;
  width: clamp(4vw, 6vw, 40px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  z-index: 1000;
  animation: l2 1s 5 linear;
  padding:0;
  margin:0;
}

@keyframes l2 {
  from {opacity: 1}  
  to {
    opacity: 0.8;
    transform: rotate(1turn)
  }
}

.hide-loader .loader {
  opacity: 0.1;
  //visibility: hidden; /* Hide the loader after 5s */
}

@keyframes apparition {
  0%  { opacity: 0.1; }
  50% { opacity: 0.2; }
  80% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes disparition {
  0%  { opacity: 1; }
  50% { opacity: 0.5; }
  80% { opacity: 0.2; }
  100% { opacity: 0; }
} 
