@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$accent-color: #99e2d0;
$background-color: white;
$main-bg-color: #f2f2f2;
$breakpoint-sm: 600px;
$breakpoint-lg: 1000px;

//font
$font-primary: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: 40px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//padding
$horizon_spacing : 5vw;
$vertical_spacing : 10px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $breakpoint == large {
    @media (min-width: calc($breakpoint-lg + 1px)) { @content; }
  }
}

// Global styles
body {
  font-family: $font-primary;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: $background-color;
}


