@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$accent-color: #99e2d0;
$background-color: white;
$main-bg-color: #f2f2f2;
$breakpoint-sm: 600px;
$breakpoint-lg: 1000px;

//font
$font-primary: 'Roboto', sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-spacing: 40px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//padding
$horizon_spacing : 5vw;
$vertical_spacing : 10px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $breakpoint == large {
    @media (min-width: calc($breakpoint-lg + 1px)) { @content; }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 10px, 0) translate3d(0, 0%, 0);
  }
  100% {
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-in forwards;
}


@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-out {
  opacity: 0;
  animation: fade-in 1s ease-in forwards, fade-out 1s 0.1s ease-out ;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

// Global styles
header {

  display: flex;
    flex-direction: row;
    justify-content:left;
    margin: 0.5rem 0 0 0;
    padding: calc($horizon_spacing/2) 0 calc($horizon_spacing/2) calc($horizon_spacing/2);
    //@include flex-center;
    border: none;

  .logo {
    margin: 1rem 0;
    img {
      position:absolute;
      top:calc(8px + $horizon_spacing/2);
      left:calc((100vw - 160px)/2);
      width: 10rem;
      height: auto;
      }
    }
  }


body {
  font-family: $font-primary;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: $base-line-height;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  opacity: 1;
}

// text et fa-feart: affichage en ligne
.nom-et-coeur {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom : 20px;
}

//pour le coeur fa-heart
.heart-icon1 {
  color: #000; /* Initial color */
  cursor: pointer;
  font-size: 1.6em; /* Adjust the size as needed */
  font-weight: 600;
}
.heart-icon2 {
  color: white; /* Initial color */
  cursor: pointer;
  font-size: 1.5em; /* Adjust the size as needed */
  position:relative;
  top:-1px;
  left:-54%;  //pour couvrir heart-icon1
}

.heartbox {
  display: none;
}

.heartbox:checked + label .heart-icon1 {
  color: white;
}
.heartbox:checked + label .heart-icon2 {
  color: #8501a0;
  text-shadow: 0 0 5px #4d015c; //donner effet blur
}

