@import './global';
@import './footer';


@mixin affiche-icone-text {

  .icntext {
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    background-color: #f0f0f0b0;
    border-radius: 20px;
    text-shadow: 0 10px 3px 10px  #f7b5b59d;
    box-shadow: 0 0.3em 0.5em 0.1em  #d7d9db9d;
    padding : 5px 2vw 5px 16px;
    width : 85vw;
    @media (min-width:700px) {
       max-width: $max-width-icntxt;
       margin-left:auto;
       margin-right: auto;
    }
    @media (min-width: $breakpoint-lg) {
      width : 28vw;
      padding : 5px 2vw;
      gap : 10px;
    }

    h3 {
      font-size: 1rem;
      margin: 20px 0;
      padding: 0 0 0 calc(1.5*$horizon_spacing);

      @media (min-width: $breakpoint-lg) {
        //margin: 0;
        padding: 0;
      }
    }
  }  
}

// Header  in globals

main {

  max-width: 1440px;
  margin: 0 auto;

  .localite-container {
    box-sizing: content-box;
    padding: 0.8rem;
    background-color:#d2d4da9d;
    @include flex-center;
    flex-direction: row;
    margin:0 auto;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 0.1em 0.5em 0.1em  #e0e0e0;

    .form {
        width: fit-content;
        padding-left: 5rem;
        margin: 0 auto;
    }
    .input {
        width: 50%;
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        text-align: center;
        padding: 0.4em 0em;
        background-color: transparent;
        border: none;
        border-radius: 4px;
        margin-left: 1vw;
    }
  }

    .pub {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 1.2;
      justify-content: space-between;
      background-color: $main-bg-color;
      //margin: 0 0 0 0;
      padding: 20px 0 40px 0;
      border: none;
      
      h1 {
          font-size: calc(1.2vw + 1.2vh + 0.4vmin); /* rajout */
          letter-spacing: 0.1vw;
          color: #030303;
          padding: 0.5rem 4rem;

          @include respond-to(small) {
              font-size: 1.4rem;
            }    

      }
      h2 {
          font-size: 1.1rem;
          color: #838181;
          font-weight:lighter;
          padding: 0.5rem 1rem;
      }

      .exploration {
          width: fit-content;
          border-radius: 50px;
          font-size: 1.1rem;
          padding: 16px 16px;
          font-weight: bolder;
          margin: 20px 0 10px 0;
          color: white;
          background-image: linear-gradient(180deg, $secondary-color , #771bb4f3);
          //box-shadow: 3px 3px .4em red, -1em 0 .4em olive;
          box-shadow: 0px 3px .4em #5e0452f3;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          };
        }      
    }
  // section fonctionnement
  .fonctionnement {
    margin : 20px $vertical_spacing;
    display: flex;
    flex-direction: column;
    margin-left: 4vw;

    h2 {
      font-size: 1.4rem;
      margin-bottom: 20px;
    }
    
    .les-etapes {
      @media (min-width : $breakpoint-lg) {
        display: flex;
        flex-direction: row;
        gap: 24px;
      }

      .etape {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        align-items: baseline;

        @media (min-width: $breakpoint-lg) {
            width: 30%;
        }

      }

      p.num {
        width: 30px;
        height: 30px;
        background-color: #7e2ea3ce;
        border-radius: 20px;
        color : white;
        padding: 3px 1px 0 8px;
        position:relative;
        left:1%;
        z-index: 1;
        @media (min-width:700px) and (max-width: 999px) {
            left: calc((100vw - ($max-width-icntxt + 4rem))/2);
        }     
      }
      
      @include  affiche-icone-text;

      .fa-mobile-screen-button,
      .fa-list,
      .fa-store {
          font-size: 1.4rem;
          color: #838181;
        }
    }
  }

  // section sec-restaurants
  .sec-restaurants {
    display:flex;
    flex-direction: column;
    padding: $base-spacing 0 $horizon_spacing $horizon_spacing;
    background-color: #f5f7fac4;

    @include respond-to(small) {
      width: calc(100%);
    }
    @include respond-to(large) {
      width: calc(100%);
      margin: 0 auto;
    }

    h2 {
      margin: 0;
      padding-bottom: $vertical_spacing;
    }
    h2.titre {
      width: 90vw;
    }

    .groupe-restaurants {
      display:flex;
      flex-direction: column;
      gap: 20px;

      @include respond-to(large) {
          display :grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          width: 100%;
          height: auto;
          column-gap: 50px;
          row-gap: 25px;
      }

      img { 
        width: 100%;
        height: calc(0.35 * $breakpoint-sm) ;
        object-fit:cover;
        border-radius: 1rem 1rem 0 0;
        margin-left: 0;
        transition: opacity 0.3s ease-in-out;
        
        @include respond-to(large) {
          width: 100%;
        }
      }

      .nouveau {
        color:#0b7a50f3;
        background-color: #88e6c2f3;
        position: relative;
        top: calc(-1 * 0.33 * $breakpoint-sm);
        left: calc(100% - 95px);
        padding: 5px 10px;
        border-radius: 5px;

      }

      .restaurant {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: calc(100% - $horizon_spacing);
        height: auto;
        @include respond-to(large) {
          gap : 5px;
        }
        
          .restaurant-item {
            @include respond-to(large) {
              max-width: $breakpoint-lg;
            }
    
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 24px 24px 0 0;
            //padding: 0px 0 10px 0;
            //margin-bottom: $vertical_spacing;
            box-shadow: 0 2px 4px rgba(212, 211, 211, 0.1);
            border: none;
            width: 100%;
            height: auto;
            text-align: left;      
          }
      } 

      a {
        display: block;
        text-decoration: none;
        color: inherit;

        &:hover img {
          opacity: 0.8;
        }
      } 

      h3 {
        margin: 0 ;
      }
    }

      .r-card-txt {
          background-color: #ffffff;
          padding: $vertical_spacing 0 calc($vertical_spacing/2) 0;
          padding-left: 3vw;
          margin-bottom: 0;
          border-radius: 0 0 24px 24px;

          .heart-icon {
            width: 1.5em;
            height:1.5em;
          }
          @media (min-width: $breakpoint-lg) {
            padding-left: calc(3vw/2);
            //margin-bottom: 0;
          }
      }
  }  
}