@import './global';
@import './footer';
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:wght@400;500;700&display=swap');

@mixin font-smoothing($value: on) {
  @if $value == on {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
}

@mixin responsive-image($small, $tablet, $desktop) {
  height: $small;
  
  @media (min-width: 600px) {
    height: $tablet;
  }  
  @media (min-width: 1024px) {
    height: $desktop;
    max-width: 1440px;
    margin: 0 auto;
  }
}

$responsive-menu-margin: 18vw;

@mixin responsive-menu {
    @media (min-width: 1024px) {
      width: 1024px;
      margin-left:auto;
      margin-right:auto;
      padding: 0 70px;
    }
    @media (min-width: 600px) and (max-width: 1023px) {
      width: 100%;
      max-width: 700px;
      margin-left:auto;
      margin-right:auto;
      padding: 0 70px;
    }
}

@mixin responsive-nom-et-coeur {
  @media (min-width: 1024px) {
      justify-content: center;
      //margin-left:auto;
      //margin-right:auto;
      gap: 32px;
  }
}
@mixin responsive-description {
    @media (min-width > 1024px) {
        width: calc(50vw - 2*$responsive-menu-margin);
    }
}

@mixin responsive-checked-hover {
  .choix {

      &:hover  .icbox  {
        transition: transform $trstime ease, opacity $trstime ease;
        transform: translateX(-5%);
        opacity: 1;      
      }

      &:hover   .fa-circle-check {
        transform: translate(-5% -50%);
        opacity: 1;
      }

      &:hover   .prix {
        transform: translate(0, 0) translateX(-5rem) translateY(0px);
        transition: transform $trstime ease;
      }

      &:hover   .plat--description {
          width: calc(75vw - 5rem);
      }
  }
}         

//$label-size: 60px;
//$label-margin: 16px;
//$label-before-size: 40px;

$color-light: white;
$color-brand: #2196F3;
$color-font: rgba(black, .54);

$font-size-md: 14px;
$font-size-lg: 24px;
$font-size-xl: 54px;
$font-light: 300;
$font-normal: 400;
$font-bold: 500;

$trstime: 0.8s;

* { 
  box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 0 0;
    padding: calc($horizon_spacing/2) 0 calc($horizon_spacing/2) calc($horizon_spacing/2);
    //@include flex-center;
    border: none;

  .logo {
    margin: 0 auto;
    img {
      width: 10rem;
      height: auto;
    }
  }
}
main {
  display: flex;
  flex-direction: column;

  img { 
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
    padding: 0;
    @include responsive-image(20rem, 30rem, 35rem);
  }


  .order-button {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0;
    //margin-left: 100px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    @media (min-width: 1024px) {
          margin-left: auto;
          margin-right: auto;
    }
  }

    .order-checkbox {
        display:none;

        &:active ~ .menu-txt .choix {
            border-radius: 20px;
            animation: flash 1s;
        }

        &:active ~ .menu-txt .fa-heart {
          animation: flash 1s;
      }
    }
    
    .orderlabel {
        display: flex;
        cursor: pointer;
        width: fit-content;
        padding: 10px 40px;
        //margin-left: calc(50vw - 5rem);
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50px;
        color:white;
        background-color: #c91ec9;
        transition: background-color 0.1s;

        background-image: linear-gradient(180deg, $secondary-color , #8833c0b7);
        box-shadow: 0px 3px .4em #5e0452f3;
        text-decoration: none;

        &:hover {
          background-color: #f302fc;
          opacity: 0.8;
        }

        .ordername {
            display: flex;
            flex-grow: 1;
            font-size: 18px;
        }
    }

  .menu-txt {
    padding: 0 $horizon_spacing;
    background-color: #f2f2f2;
    margin-top: -50px;
    z-index : 1;
    border-radius: 40px;
    @include responsive-menu;

    h1 {
      margin-top: 20px;
      font-family: shrikhand;
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1rem;
    }

    h3 {
      font-size: 1rem;
      font-weight: 300;
    }

    .enligne {
      padding: 0;
      margin: 0;
      align-items: baseline;
      display: flex;
      flex-direction: row;
    }
    .nom-et-coeur {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom : 20px;
      @include responsive-nom-et-coeur;
    }

    .fa-heart {
      height: 1rem;
      transition: background-color 1s;
    }

    .choix-et-check {
      margin: 0;
      padding: 0;
      width: 100%;
      align-items: last baseline;
    }

    .choix {
      background-color: white ;
      border-radius: 20px;
      padding : 0px 5px;
      margin : 8px 0;
      width: 100%;
      //overflow: hidden;
      //@include responsive-checked-hover;

    }

    .underline {
      margin-top: 16px;
      border-bottom: 4px solid #b1f59c;
      display: inline-block;
      line-height: 2;
    }
  }

  .prix {
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    padding:0;
    margin:0;
    top: 50%;
    left: 88%;
    transform: translate(0, 0);
    transition: transform $trstime ease;
    opacity: 1;
  }

  .icbox {
    position: absolute; 
    font-size: 1.5rem;
    top: -4%;
    left: 87%;
    width: 5rem;
    height: 68px;
    margin : 0;
    padding : 5px 0px 10px 10px;
    background-color: #7bc5cae5;
    border-radius: 0 20px 20px 0;
    transform: translate(0, 0) translateX(4.8rem);
    transition: transform $trstime ease, opacity $trstime ease;
    opacity: 0.7;
  
  }

  .fa-circle-check {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: transform $trstime ease, opacity $trstime ease;
    opacity: 1;
  }

  @include responsive-checked-hover;

  .dessous {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: 64px;
    cursor: pointer;
    border-radius: 2px;
  
      .plat--title {
        width: 88%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0 0 20px;
        font-weight: $font-bold;
        @media (min-width > 750px) {
          width: calc(50vw - 2*$responsive-menu-margin);
        }
      }

      .plat--description {
        width: 86%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 8px 20px;
        font-size: 0.9rem;
        font-weight: 400;
        transition: width 0.6s;
        @include responsive-description;
      }
    }
  }


/* Flash animation */
@keyframes flash {
  0% {
      background-color: rgba(255, 235, 59, 0);
      opacity: 0;
  }
  30% {
      background-color: #8cc9fc9c;
      opacity: 1;
  }
}